<!DOCTYPE html>
<html>

<head>
    <title>交换SDP信息与ICE信息</title>
    <meta name="viewport" content="width=device-width,
initial-scale=1,maximum-scale=1" />
</head>

<body>
    <button type="button" onclick="startVideo();">开始捕获视频信息</button>
    <button type="button" onclick="stopVideo();">停止捕获视频信息</button>

    <button type="button" onclick="exitRoom();">退出</button>
    <br />
    <div>
        <video id="local-video" autoplay style="width: 240px; height: 180px;
    border: 1px solid black;"></video>
        <video id="remote-video" autoplay style="width: 240px; height: 180px;
    border: 1px solid black;"></video>
        <div id="videoBox" autoplay style="width: 240px; height:  180px; border: 1px solid black;">

        </div>
        <div class="chatbox">
            <ul class="left-item"></ul>
            <div id="receiveBox" class="right-item"></div>
        </div>
    </div>

    <div class="messagebox">
        <label for="message">输入一个消息：
            <input type="text" name="messageInputBox" id="messageInputBox" placeholder="请输入消息" inputmode="latin" size=60
                maxlength=120 disabled>
        </label>
        <button id="sendButton" name="sendButton" class="buttonright" onclick="sendMessage();">
            发送
        </button>
    </div>

    <div class="joinRoom">
        <label for="message">输入您要加入的聊天室ID:
            <input type="text" name="roomID" id="roomID" placeholder="ID" inputmode="latin" size=10 maxlength=20>
        </label>
        <label for="message">请输入房间密码:
            <input type="text" name="roomPassword" id="roomPassword" placeholder="password" inputmode="latin" size=10
                maxlength=20>
        </label>
        <button id="joinButton" name="joinButton" class="buttonright" onclick="joinRoom();">
            进入房间
        </button>
    </div>

    <script>
        // ===================以下是socket=======================
        var user = Math.round(Math.random() * 1000) + ""
        // var socketUrl = "ws://127.0.0.1:8080/RoomServer/" + user;
        var socket = null
        var socketRead = false
        window.onload = function () {

            socket = new WebSocket("ws://127.0.0.1:8080/RoomServer/" + user)
            if (socket == null) {
                console.log("连接失败")
                return
            }
            socket.onopen = function () {
                console.log("成功连接到服务器...")
                socketRead = true
            }

            socket.onclose = function (e) {
                console.log('与服务器连接关闭: ' + e.code)
                socketRead = false
            }

            socket.onmessage = function (res) {
                var evt = JSON.parse(res.data)
                console.log(evt)
                if (evt.myType === "join") {
                    if (evt.success === "success") {
                        console.log("加入房间成功");
                        peopleCnt = evt.propleCnt;
                        peopleList = evt.peopleList;
                        peerMap = new Map();
                        isInRoom = true;
                        inRoomID = evt.roomID;
                        messageInputBox.disabled = false;
                        messageInputBox.focus();
                        sendButton.disabled = false;

                        for (let i = 0; i < peopleList.length; i++)
                            if (peopleList[i] != user)
                                sendOffer(peopleList[i]);
                    }
                    else {
                        alert("加入房间失败, 失败原因:" + evt.successMessage);
                        console.log("加入房间失败");
                    }
                } else if (evt.myType === "exit" && isInRoom) {
                    console.log(evt.myID + "退出了房间");
                    peopleCnt = peopleCnt - 1;
                    peopleList = peopleList.filter(function (people) {
                        return people != evt.myID;
                    });
                } else if (evt.myType === "Join" && isInRoom) {
                    peopleCnt = peopleCnt + 1;
                    peopleList.push(evt.myID);
                } else if (evt.myType === 'offer' && isInRoom) {
                    console.log("接收到offer,设置offer,发送answer....")
                    onOffer(evt);
                } else if (evt.myType === 'answer' && isInRoom) {
                    console.log('接收到answer,设置answer SDP');
                    onAnswer(evt);
                } else if (evt.myType === 'candidate' && isInRoom) {
                    console.log('接收到ICE候选者..');
                    onCandidate(evt);
                } else if (evt.myType === 'bye' && isInRoom) {
                    console.log("WebRTC通信断开");
                    stop();
                } else if (evt.myType === "message" && isInRoom) {
                    console.log("接收到聊天消息");
                    onMessage(evt.messageMsg);
                } else {
                    console.log("无法解析消息" + evt);
                }
            }
        }

        // ===================以上是socket=======================

        var localVideo = document.getElementById('local-video');
        var remoteVideo = document.getElementById('remote-video');
        var localStream = null;

        var isInRoom = false;
        var inRoomID = null;

        var peopleCnt = null
        var peopleList = null
        var peerMap = null

        var mediaConstraints = {
            'mandatory': {
                'OfferToReceiveAudio': true,
                'OfferToReceiveVideo': true
            }
        };

        //----------------------WebMVC交换信息 -----------------------

        function onOffer(evt) {
            console.log("接收到offer...");
            console.log(evt);
            setOffer(evt);
            sendAnswer(evt);
        }

        function onAnswer(evt) {
            console.log("接收到Answer...")
            console.log(evt);
            setAnswer(evt);
        }

        function onCandidate(evt) {
            var candidate = new RTCIceCandidate({
                sdpMLineIndex: evt.sdpMLineIndex,
                sdpMid: evt.sdpMid, candidate: evt.candidate
            });
            console.log("接收到Candidate...")
            console.log(candidate);
            if (!peerMap.has(getID(evt.targetID, evt.myID))) {
                console.log("peer不存在");
            }
            peerMap.get(getID(evt.targetID, evt.myID)).addIceCandidate(candidate);
        }

        function sendOffer(targetID) {
            var peerConnection = prepareNewConnection(targetID);
            peerConnection.createOffer(function (sessionDescription) { //成功时调用
                peerConnection.setLocalDescription(sessionDescription);
                console.log("发送: SDP");
                console.log(sessionDescription);
                var jsonMsg = {
                    'myType': 'offer',
                    'roomID': inRoomID,
                    'myID': user,
                    'targetID': targetID,
                    'offerMsg': sessionDescription
                };
                var message = JSON.stringify(jsonMsg); //将json对象转换为字符串
                console.info("send offer message: " + message);
                sendSDP(message);
            }, function (err) {  //失败时调用
                console.log("创建Offer失败");
            }, mediaConstraints);
            peerMap.set(getID(user, targetID), peerConnection);
        }

        function sendAnswer(evt) {
            console.log('发送Answer,创建远程会话描述...');
            let peerid = getID(user, evt.myID);
            if (!peerMap.has(peerid)) {
                console.error('peerConnection不存在!');
                return;
            }
            peerMap.get(peerid).createAnswer(function (sessionDescription) {//成功时
                peerMap.get(peerid).setLocalDescription(sessionDescription);
                var jsonMsg = {
                    'myType': 'answer',
                    'roomID': inRoomID,
                    'myID': user,
                    'targetID': evt.myID,
                    'answerMsg': sessionDescription
                };
                console.log("发送: SDP");
                console.log(sessionDescription);
                var message = JSON.stringify(jsonMsg); //将json对象转换为字符串
                console.info("send answer message: " + message);
                sendSDP(message);

            }, function () {
                console.log('answer setLocalDiscription failed');
            }, mediaConstraints);
        }

        function sendSDP(sdp) {
            console.log('发送sdp.....')
            console.log(sdp);
            socket.send(sdp)
        }

        function sendCandidate(candidate) {
            var text = JSON.stringify(candidate);
            console.log('发送candidate....');
            console.log(text);// "type":"candidate","sdpMLineIndex":0,"sdpMid":"0","candidate":"....
            sendSDP(text)// socket发送
        }

        function setOffer(evt) {
            var peerConnection = prepareNewConnection(evt.myID);
            peerConnection.setRemoteDescription(new RTCSessionDescription(evt.offerMsg));
            peerMap.set(getID(evt.targetID, evt.myID), peerConnection);
        }

        function setAnswer(evt) {
            let peerid = getID(evt.targetID, evt.myID)
            if (!peerMap.has(peerid)) {
                console.error('peerConnection不存在!');
                return;
            }
            peerMap.get(peerid).setRemoteDescription(new RTCSessionDescription(evt.answerMsg));
        }

        //---------------------- 本地摄像头 -----------------------
        function startVideo() {
            navigator.webkitGetUserMedia({ video: true, audio: true },
                function (stream) { //success
                    console.log("打开本地视频流");
                    localStream = stream;
                    localVideo.srcObject = stream;
                    localVideo.play();
                    localVideo.volume = 0.2;
                },
                function (error) { //error
                    console.error('发生了一个错误: [错误代码：' + error.code + ']');
                    return;
                });
        }

        function stopVideo() {
            localVideo.srcObject = null;
            localStream.stop();
        }


        //---------------------- 处理连接 -----------------------
        function prepareNewConnection(targetID) {
            console.log("创建peerconnection-" + targetID);
            var pc_config = { "iceServers": [] };
            var peer = null;
            try {
                peer = new webkitRTCPeerConnection(pc_config);
            }
            catch (e) {
                console.log("建立连接失败，错误：" + e.message);
            }

            // 发送所有ICE候选者给对方
            peer.onicecandidate = function (evt) {
                console.log('candidate原数据:' + evt.candidate)
                if (evt.candidate) {
                    console.log('存在candidate');
                    sendCandidate({
                        "myType": "candidate",
                        "myID": user,
                        "targetID": targetID,
                        sdpMLineIndex: evt.candidate.sdpMLineIndex,
                        sdpMid: evt.candidate.sdpMid,
                        candidate: evt.candidate.candidate
                    });
                }
            };

            console.log('添加本地视频流...');
            peer.addStream(localStream);

            peer.addEventListener("addstream", onRemoteStreamAdded, false);
            peer.addEventListener("removestream", onRemoteStreamRemoved, false);

            // 当接收到远程视频流时，使用本地video元素进行显示
            function onRemoteStreamAdded(event) {
                console.log("添加远程视频流");
                let video = document.createElement('video');
                video.id = "video-" + getID(user, targetID);
                //video.controls = true;
                video.autoplay = 'autoplay';
                video.srcObject = event.stream;
                console.log(event.stream);
                videoBox.appendChild(video);
                //remoteVideo.srcObject = event.stream;
                //remoteVideo.parsed = false
            }

            function onRemoteStreamRemoved(event) {
                console.log("移除远程视频流");
                // remoteVideo.srcObject = "";
                videoBox.removeChild(document.getElementById(video + getID(user, targetID)));
            }

            return peer;
        }
        function sendMessage() {
            if (!isInRoom) {
                alert("您还未加入房间,无法聊天")
                return;
            }
            var message = user + ": " + messageInputBox.value;
            console.log("发送了一条信息" + message);
            let data = {
                "myType": "message",
                "roomID": inRoomID,
                "messageMsg": message,
                "myID": user
            }
            socket.send(JSON.stringify(data));
        }

        function onMessage(message) {
            console.log("准备显示聊天");
            console.log(message);
            var el = document.createElement("p");
            var txtNode = document.createTextNode(message);
            el.appendChild(txtNode);
            receiveBox.appendChild(el);
        }

        function joinRoom() {
            if (isInRoom) {
                alert("你已经在房间中了");
                return;
            }
            console.log("尝试加入房间" + roomID.value);
            let data = {
                "myType": "join",
                "roomID": roomID.value,
                "password": roomPassword.value,
                "myID": user
            }
            sendSDP(JSON.stringify(data));
        }

        function exitRoom() {
            if (isInRoom) {
                let data = {
                    "myType": "exit",
                    "roomID": inRoomID,
                    "myID": user
                }
                messageInputBox.disabled = true;
                sendButton.disabled = true;
                sendSDP(JSON.stringify(data));
                receiveBox.clear();
                videoBox.clear();
                stop();
            }
            else {
                alert("你还未加入聊天室");
            }
        }

        function stop() {
            peerMap = null
            peopleCnt = null
            peopleList = null
            isInRoom = false
            inRoomID = null
        }

        function getID(ID1, ID2) {
            return ID1 + '-' + ID2;
        }

    </script>
</body>

</html>