

/*左右栏*/

.leftsidebar {
    display: flex;
    width: 25%;
    height: 100%;
    overflow: hidden;
//transform: translateX(10%);
}

.rightsidebar {
    display: flex;
    width: 35%;
    height: 100%;
}



.search-bar {
    height: 10%;
    margin-right: auto;
}
.selectbar{
    margin-left: 20px;
    width: 80px;
}

/*中间栏*/

.el-main {
    background-color: white;
    padding-top: 0px;
    width: 40%;
    height: 100%;
    margin-left: auto;
}

.el-menu {
    /*width: 40%;*/
    margin-left: auto; /* 自动推到右侧 */
}