.el-menu-demo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.el-aside {
    width: 55%;
    background-color: rgb(11, 221, 245)
}

.el-container {
    width: 100%;
//background-color: transparent;
    padding: 0%;
    margin: 0%;
    height: 100%;
}

canvas {
    position: fixed;
    inset: 0;
}

.el-form {
    width: 100%;
    max-width: 400px;
    /* margin-top: 100px; */
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}

.el-main {
    width: 100%;
    /* max-width: none; */
    background-color: #dad2c0;
    /* flex: 1;
    align-items: flex-start;
    justify-content: flex-start; */
    background: transparent;

    overflow: hidden;
}

.logo{
    margin-top: 0px;
    padding-top: 0px;
    width: 25%;

    margin-left: auto;
    margin-right: auto;
}
.button{
    border: none;
}
.button:hover{
    background-color: white;
}
.text:hover{
    background: white;
}
.text1{
    padding-left: 10px;
    font-size: smaller;
    margin-left: 30px;
    font-weight: bold;
}

.text2{
    padding-left: 10px;
    font-size: smaller;
    font-weight: bold;
}

.form-input-email
{
    width: 50%;
}

